{% extends "index.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Add brand to
            {{store.getStoreName}}</h1>
        <form action="/add_brand_to_store/{{store.getId}}" method="post">
            <select name="brand_id">
                {% for brand in brands %}
                    <option value="{{brand.getId}}">{{brand.getBrandName}}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">
                Add
            </button>
        </form>

        {% if brands_by_store is not empty %}
            {% for brand in brands_by_store %}
                <li>{{brand.getBrandName}}</li>
            {% endfor %}
        {% endif %}
        <a href="/">
            <button type="button">home</button>
        </a>
    </div>
    <!-- container -->
{% endblock %}
