{% extends "index.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Add store to {{brand.getBrandName}}</h1>
        <form action="/add_store_by_brand/{{brand.getId}}" method="post">
            <select name="store_id">
                {% for store in stores %}
                    <option value="{{store.getId}}">{{store.getStoreName}}
                    </option>
                {% endfor %}
            </select>
            <button type="submit"> Add </button>
        </form>

    {% if stores_by_brand is not empty %}
        {% for store in stores_by_brand %}
            <li>{{store.getStoreName}}</li>
        {% endfor %}
        <a href="/delete_all_stores/{{brand.getId}}"><button>delete all stores from brand</button></a>
    {% endif %}
    <a href="/"><button type="button">home</button></a>
    </div><!-- container -->
{% endblock %}
